{% extends 'base.html' %}
{% block content %}
<br>
<div class="messagesHeader"><h1>Messages</h1></div>
<div class="messagesBody">
<table id="msgTable">
    <tr class="tableHeader">
        <th>From</th>
        <th>Message Type</th>
        <th>Options</th>
    </tr>

{% for message in messages %}
    <tr class="messageRow">
        <td>{{ message.MessageFrom }}</td>
        <td>{% if message.IsNewMessage %}Unread{% else %}Read{% endif %}</td>
        <td><br><br><a href="/viewMessage/{{ message.id }}" class="messageButtons">View Message</a><br><br><br><br><br><a href="/deleteMessage/{{ message.id }}" class="messageButtons">Delete Message</a><br><br></td>
    </tr>
{% endfor %}
</table>

</div>

<div class="messagesFooter">
    <a href="/sendMessagePage" class="messageButtons" id="sendMessageButton"><u>Send Message</u></a>
</div>
{% endblock %}