{% extends 'base.html' %}

{% block content %}

<form action="/sendMessage/" method="post">
    {% csrf_token %}

    <h1>Send a Message</h1><br><br>

    <label>To: </label><input id="ToTextBox" type="text" name="To"><br><br>
    <label>From: </label><input id="FromTextBox" type="text" name="From"><br><br>

    <label>Message: </label><br><br><textarea id="MessageTextbox" name="message" rows="10" cols="50"></textarea><br><br>

    <button id="submitButton" class="messageButtons" type="submit">Send Message</button>

    <br><br><br><br><a href="/messages" class="messageButtons"><u>Back</u></a>

</form>




{% endblock %}