{% extends 'base.html' %}
{% block content %}
<div class="messagesHeader">
    <h1>View Message</h1>
</div>
<div id="messageViewOutside">
    <div>
        <div class="messageViewHead">
            <div>
                <div class="messageHeader">
                    <div>
                        <p id="FromInfo">From: {{ message.MessageFrom }}</p><br>
                        <p id="ToInfo">To: {{ message.MessageTo }}</p><br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="messageView">
            <div>
                <div class="messageBody">
                    <div>
                        <p id="msgBody">Message:</p><br><p>{{ message.MessageBody }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="messagesFooter">
    <a href="/messages/" class="messageButtons"><u>Back</u></a>
</div>

{% endblock %}